.kepala{
    text-align: center;
    width: 100%;
    background-image: url("background.jpg");
}
.bar{
    text-align: right;
    width: 99.2%;
    height: 20px;
   background-color: #3d3f41;
    float: right;
    padding: 5px;
    border: 1px solid;
}
.bar a{
    color: rgb(243, 201, 135);
    text-decoration-color: bisque;
    text-transform: uppercase;
    padding: 1px;
}

.badan{
    height: 650px;
    width: 100%;
}
.badan .sidebar{

  background-color: rgb(255, 238, 238);
    float: left;
    height: 100%;
    width: 85%;	
}
.badan .content{
    background-color: #775c5c;
    float: left;	
    width: 15%;
    height: 100%;
    font-size: 15px;
}
.badan .content .nama{
    text-align: center;
    color: blueviolet;
    font-family:"Arial Black";

}
  #myProgress {
    position: relative;
    width: 100%;
    height: 30px;
    background-color: rgb(167, 29, 29);
  }
  
  #myBar {
    position: absolute;
    width: 10%;
    height: 100%;
    background-color: #4CAF50;
  }
  
  label {
    text-align: center;
    line-height: 30px;
    color: white;
  }

  .container {
   
    width: 100;
    text-align: center;
    background-color: #3d3f41;
  }

  .btn-sosmed {
    display: inline-block;
    background: #f9f1f1;
    width: 86px;
    height: 86px;
    margin: 8px;
    border-radius: 10px;
    box-shadow: 0 6px 16px -6px #000;
    position: relative;
    overflow: hidden;
  }

  .btn-sosmed.btn-facebook {
    color: #1a237e;
  }

  .btn-sosmed.btn-instagram {
    color: #F50057;
  }

  .btn-sosmed.btn-twitter {
    color: #0091EA;
  }

  .btn-sosmed.btn-youtube {
    color: #D50000;
  }

  .btn-sosmed.btn-google {
    color: #304FFE;
  }

  .btn-sosmed i {
    line-height: 96px;
    font-size: 24px;
    transition: 0.3s linear;
  }

  .btn-sosmed:hover i {
    transform: scale(2);
    color: #e0e0e0;
  }

  .btn-sosmed::before {
    content: "";
    position: absolute;
    width: 105%;
    height: 150%;
    transform: rotate(30deg);
    left: -150%;
    top: 70%;
  }

  .btn-sosmed:hover::before {
    animation: anim 0.6s 1;
    left: 0;
    top: -30%;
  }

  .btn-facebook::before {
    background: #1a237e;
  }

  .btn-instagram::before {
    background: #F50057;
  }

  .btn-twitter::before {
    background: #0091EA;
  }

  .btn-youtube::before {
    background: #D50000;
  }

  .btn-google::before {
    background: #304FFE;
  }

  @keyframes anim {
    0% {
      left: -150%;
      top: 90%;
    }
    50% {
      left: 15%;
      top: -30%;
    }
    100% {
      left: 0;
      top: -30%;
    }
  }

